/* Home */
h1 {
  font-size: 45px;
  line-height: 60px;
  color: #4caf50;
}

h2 {
  font-size: 20px;
  text-align: center;
  /* line-height: 60px; */
  color: rgb(0, 0, 0);
}

h3 {
  font-size: 45px;
  text-align: center;
}

h4 {
  /* font-weight: 45px; */
  font-size: 80px;
}

h5 {
  font-weight: 30px;
  font-size: 60px;
}

h6 {
  font: weight 45px;
  font-size: 60px;
}

p {
  font-size: 45px;
  color: rgb(0, 0, 0);
  margin: 15px 0 20px 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  text-align: center;
}

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  background: 0 5px 15px rgba(0, 0, 0, 0);
  /* background-color: rgb(53, 80, 140); */
  background-color: #003049;
}
/* End Header */

/* Navbar */
.navbar {
  overflow: hidden;
  background-color: #003049;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #fcbf49;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #003049;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #fcbf49;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* End Navbar */

.success-container {
  max-width: 1000px;
  margin: 200px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Button */
.button-checklist {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.button-checkout:hover {
  background-color: #00496f;
}
